html, body, h1, #maincontainer {
    font-family: 'Open Sans', sans-serif !important;
}

#maincontainer {
    width: 500px;
    padding: 5px;
}

#maincontainer h1 {
    font-size: 22px;
    margin-right: 20px;
}

#maincontainer h2 {
    font-size: 18px;
}

#maincontainer h3 {
    font-size: 13px;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

#maincontainer form {
    width: 500px;
}

#maincontainer form label {
    width: 180px;
    font-size: 13px;
}

#maincontainer form input[type="text"],
#maincontainer form select {
    width: 224px;
    height: 30px;
    padding: 0 16px;
    margin: 1px 0;
}

.angular-google-map-container {
    height: 400px;
    width: 400px;
    margin-right: 5px;
    margin-bottom: 20px;
}



#maincontainer div.containerimage img {
    width: 100px;
    height: 100px;
}

#maincontainer div.containerimage p {
    width:100px;
    text-align: center;
}

#maincontainer div.containerimage {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

#maincontainer div a {
    width: 100px;
    height: 100px;
}

.subcontainer {
    width: 500px;
}

.background {
    background-color: #2aaef5;
}

.locatielabel {
    font-size: 20px;
}

.widthlabel {
    width: 200px;
    float: left;
}

.widthinput {
    width: 200px;
}

.backgroundimage {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/duck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.floatleft {
    float: left;
}

.errortext {
    color: red;
    width: 500px;
}

#maincontainer img.information_img {
    width:16px;
}

#maincontainer span.no_information_icon {
    display: inline-block;
    width:19px;
}

.margin_info {
    margin: 0 4px;
}

.backgroundImageInformation {
    background-image: url(../img/information.png);
    height: 16px;
    width: 16px;
}

.tumbnail_size {
    height: 100px;
    max-width: 150px;
}

table.table th,td {
    max-width: 150px;
    word-wrap: break-word;
}

#iframe {
    width: 1000px;
    height: 800px;
}

#gezinEerderGemeld {
    margin-top: 5px;
    height: 15px !important;
}

#sigthingDate {
    display: inline-table;
}

.mapscontainer {
    position: relative;
    left: 100px;
}

input[type=file] {
    display: inline-block !important;
}