html, body, #maincontainer, section {
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

#maincontainer {
    width: 700px;
    padding: 5px;
    overflow: hidden;
}

#maincontainer h1 {
    font-size: 22px;
    margin-right: 20px;
}

#maincontainer h2 {
    font-size: 18px;
}

#maincontainer h3 {
    font-size: 13px;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

#maincontainer form {
    width: 500px;
}

#maincontainer form label {
    width: 140px;
    font-size: 13px;
    float: left;
}

#maincontainer form input[type="text"],
#maincontainer form select {
    width: 200px;
    height: 30px;
    padding: 0 16px;
    margin: 1px 0;
    float: left;
}

.form-group {
    float: left;
    width: 500px;
}

.angular-google-map-container {
    height: 400px;
    width: 400px;
    margin-right: 5px;
    margin-bottom: 20px;
}



#maincontainer div.containerimage img {
    width: 100px;
    height: 100px;
}

#maincontainer div.containerimage p {
    width:100px;
    text-align: center;
}

#maincontainer div.containerimage {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

#maincontainer div a {
    width: 20px;
    float: left;
}

.subcontainer {
    width: 500px;
}

.background {
    background-color: #2aaef5;
}

.locatielabel {
    font-size: 20px;
}

.widthlabel {
    width: 200px;
    float: left;
}

.widthinput {
    width: 200px;
}

.floatleft {
    float: left;
}

.errortext {
    color: red;
    width: 500px;
}

#maincontainer img.information_img {
    width:16px;
}

#maincontainer span.no_information_icon {
    display: inline-block;
    width:19px;
}

.backgroundImageInformation {
    background-image: url(../img/information.png);
    height: 16px;
    width: 16px;
}

.tumbnail_size {
    height: 100px;
    max-width: 150px;
}

table.table th,td {
    max-width: 150px;
    word-wrap: break-word;
}

#gezinEerderGemeld {
    margin-top: 5px;
    height: 15px !important;
}

#sigthingDate {
    display: inline-table;
}

.mapscontainer {
    position: relative;
    left: 100px;
}

input[type=file] {
    display: inline-block !important;
}

.voorwaarden {
    float: none !important;
}

.entry-succesfull {
    background-color: #39BA2A;
    text-align: center
}

#maincontainer .entry-succesfull a {
    float: none;
}

#maincontainer.scroll-bar {
    overflow: auto;
}

.no-duck-season {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.no-duck-season .no-duck-season-message-container {
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    padding: 10px;
    background-color: #ffffff;
}

.no-duck-season .no-duck-season-message-container h1 {
    text-align: center;
    margin: 0;
}

.float-right {
    float: right;
}