<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/core.css" rel="stylesheet"/>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css" rel="stylesheet"/>
</head>
<body>

<section ng-view></section>

<script type="text/javascript">
    window.user = <%- user || 'null' %>;
</script>

<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src='/lib/lodash/lodash.js'></script>
<script type="text/javascript" src='/lib/angular-simple-logger/dist/angular-simple-logger.js'></script>
<script type="text/javascript" src='/lib/ng-file-upload/ng-file-upload.js'></script>
<script type="text/javascript" src='/lib/ng-file-upload-shim/ng-file-upload-shim.js'></script>
<script type="text/javascript" src='/lib/angular-bootstrap/ui-bootstrap.min.js'></script>
<script type="text/javascript" src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
<script type="text/javascript" src='/lib/remarkable-bootstrap-notify/bootstrap-notify.min.js'></script>



<script type="text/javascript" src="/sighting/sighting.client.module.js"></script>
<script type="text/javascript" src="/sighting/controllers/sighting.client.controller.js"></script>
<script type="text/javascript" src="/sighting/controllers/sightings.client.controller.js"></script>
<script type="text/javascript" src="/sighting/config/sighting.client.routes.js"></script>
<script type="text/javascript" src="/sighting/services/sighting.client.service.js"></script>


<script type="text/javascript" src="/login/login.client.module.js"></script>
<script type="text/javascript" src="/login/controllers/login.client.controller.js"></script>
<script type="text/javascript" src="/login/config/login.client.routes.js"></script>

<script type="text/javascript" src="/users/users.client.module.js"></script>
<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

<script type="text/javascript" src="/application.js"></script>
</body>
</html>