<div data-ng-controller="sightingsController as sc">
    <div ng-show="!sc.authentication.user">
        <p>Je moet ingelogd zijn om deze pagina te bekijken</p>
    </div>
    <div ng-show="sc.authentication.user">
        <a href="/signout">Signout</a>
        <button ng-click="sc.csv()">Download csv</button>
        <button ng-click="sc.writeZip()">Create zip</button>
        <a ng-show="sc.locationZipFile" target="_self" href="{{sc.locationZipFile}}">jsd-photos.zip</a>
        <button ng-click="sc.deleteFotos()">Delete photo's</button>

        <button class="float-right" ng-click="sc.resetCount()">Reset telling</button>
<!--        <a class="float-right" href="/#!/species">Manage species</a>-->
        <div style="max-width: 100%;overflow: scroll;">
            <table class="table table-hover" style="width:2500px">
                <tr>
                    <th>ID</th>
                    <th>Soort</th>
                    <th>Datum</th>
                    <th>Aantal</th>
                    <th>Leeftijd</th>
                    <th>Breedtegraad</th>
                    <th>Lengtegraad</th>
                    <th>Waarnemer</th>
                    <th>Email</th>
                    <th>GEG</th>
                    <th>Zekerheid GEG</th>
                    <th>Opmerking</th>
                    <th>AV</th>
                    <th>Photo</th>
                    <th>Opp</th>
                    <th>Oever</th>
                    <th>Water</th>
                    <th>#sterfte</th>
                    <th>reden</th>
                    <th>gevoerd</th>
                </tr>
                <tr ng-repeat="sighting in sc.sightings">
                    <td>{{sighting.waarnemingId}}</td>
                    <td>{{sc.species[sighting.species]}}</td>
                    <td>{{sighting.sigthingDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{sighting.numberOfChicks}}</td>
                    <td>{{sc.ages[sighting.age]}}</td>
                    <td>{{sighting.lat}}</td>
                    <td>{{sighting.lng}}</td>
                    <td>{{sighting.observerName}}</td>
                    <td>{{sighting.observerEmail}}</td>
                    <td>{{sighting.gezinEerderGemeld}}</td>
                    <td>{{sighting.certaintyRecapture}}</td>
                    <td>{{sighting.remarks}}</td>
                    <td>{{sighting.permission}}</td>
                    <td><div ng-if="sighting.photo"><img class="tumbnail_size" ng-src="{{sighting.base64}}"/></div>
                    <div ng-if="!sighting.photo">Geen foto beschikbaar</div></td>
                    <td>{{sighting.surface}}</td>
                    <td>{{sc.shore[sighting.shore]}}</td>
                    <td>{{sc.water[sighting.water]}}</td>
                    <td>{{sighting.numberOfDeaths}}</td>
                    <td>{{!!sc.causeOfDeath[sighting.causeOfDeath] ? sc.causeOfDeath[sighting.causeOfDeath] : sighting.causeOfDeath}}</td>
                    <td>{{sighting.extraFeedings}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
